@using System.Web.UI.WebControls
@model MojCRM.Areas.Stats.ViewModels.AcquireEmailPaymentStatViewModel
@{
    ViewBag.Title = "Statistika - prihodi od obrada baza korisnika";
    Layout = "~/Views/Shared/_UserLayoutNew.cshtml";

    var statusList = new List<ListItem>
    {
        new ListItem{ Value= @"0", Text = @"Pokrenuto"},
        new ListItem{ Value= @"1", Text = @"U tijeku"},
        new ListItem{ Value= @"2", Text = @"Privremeno zaustavljeno"},
        new ListItem{ Value= @"5", Text = @"Baza za tipsku"},
        //new ListItem{ Value= @"3", Text = @"Prekinuto"},
        new ListItem{ Value= @"4", Text = @"Završeno"}
    };
}

<h2>Statistika prihoda od obrada baza korisnika</h2>
<br/>
<div class="alert alert-info">
    <p style="text-align: justify">
        Ovaj statistički pregled donosi informacije o potencijalnom prihodu od obrade baza korisnika.<br/>
        Sve cijene u pregledu su izražene u kunama u neto iznosu!<br />
        <br />
        <strong>Napomena: </strong>pregled u startu daje pregled svih kampanja. Za specifičnije upite možete izvršiti pretragu po statusu te po periodu u kojem je kampanja započela.
    </p>
</div>
<hr />
@using (Html.BeginForm("AcquireEmailPaymentStat", "Stats", FormMethod.Get))
{
<div class="row">
    <div class="col-md-3">
        <div class="form-group">
            <label for="campaign-status">Status kampanje</label>
            <div id="campaign-status">
                @Html.DropDownList("CampaignStatus", new SelectList(statusList, "Value", "Text"), "-- Svi statusi --", new { @class = "form-control" })
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label for="start-date">Početak perioda</label>
            <div id="start-date">
                @Html.TextBox("startDate", ViewBag.CurrentFilter as string, new { @class = "date-picker form-control", @placeholder = "Početak perioda", @type = "text", @id = "start-date", @name = "start-date" })
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label for="end-date">Završetak perioda</label>
            <div id="end-date">
                @Html.TextBox("endDate", ViewBag.CurrentFilter as string, new { @class = "date-picker form-control", @placeholder = "Završetak perioda", @type = "text", @id = "end-date", @name = "end-date" })
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="alert alert-info">
            <p style="text-align: justify">
                Ukupan iznos pretraženih rezultata: <strong>@Model.SumTotalAmount kn</strong>
            </p>
        </div>
    </div>
</div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group" style="margin-bottom:0">
                <input id="Search" type="submit" class="btn btn-primary btn-sm" value="Traži" />
                <input id="btn-reset" type="reset" class="btn btn-warning btn-sm" value="Poništi" />
            </div>
        </div>
    </div>
}
<hr />
<div class="row">
    <div class="widget widget-table">
        <div class="widget-header">
            <h3><i class="fa fa-money"></i> Pregled podataka</h3> <em>- Prihodi od obrada baza korisnika</em>
            <div class="btn-group widget-header-toolbar">
                <a href="#" title="Fokusiraj" class="btn-borderless btn-focus"><i class="fa fa-eye"></i></a>
                <a href="#" title="Proširi/Sažmi" class="btn-borderless btn-toggle-expand"><i class="fa fa-chevron-up"></i></a>
                @*<a href="#" title="Remove" class="btn-borderless btn-remove"><i class="fa fa-times"></i></a>*@
            </div>
        </div>
        <div class="widget-content">
            <table id="ticket-table" class="table table-sorting">
                <thead>
                <tr>
                    <th>Naziv kampanje</th>
                    <th>Fiksni iznos</th>
                    <th>Broj novoprikupljenih podataka</th>
                    <th>Ukupan prihod</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var campaign in Model.List)
                {
                    if (campaign.IsNewlyAcquiredCount != 0)
                    {
                        <tr>
                            <td><a href="@Url.RouteUrl(new { action = "Details", controller = "Campaigns", area = "Campaigns", Id = campaign.CampaignId })">@campaign.CampaignName</a></td>
                            <td>@campaign.FixedAmount</td>
                            <td>@campaign.IsNewlyAcquiredCount * 1,49 kn</td>
                            <td>@campaign.TotalAmount</td>
                        </tr>
                    }
                }
                </tbody>
            </table>
        </div>
    </div>
</div>

