@using GridMvc.Html
@model IQueryable<MojCRM.Areas.CRM.Models.Contract>
@{
    ViewBag.Title = "Ugovori korisnika";
    Layout = "~/Views/Shared/_UserLayoutNew.cshtml";
}

<h2>Ugovori korisnika</h2>
<hr/>
@if (User.IsInRole("Administrator") || User.IsInRole("Board") || User.IsInRole("Superadmin") || User.IsInRole("Management"))
{
    using (Html.BeginForm("Index", "Contract", FormMethod.Get))
    {
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label for="contract-number">Broj ugovora</label>
                    <div id="contract-number">
                        @Html.TextBox("ContractNumber", ViewBag.CurrentFilter as string, new { @class = "form-control", @placeholder = "Broj ugovora" })
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="organization-name">Naziv korisnika</label>
                    <div id="organization-name">
                        @Html.TextBox("OrganizationName", ViewBag.CurrentFilter as string, new { @class = "form-control", @placeholder = "Naziv korisnika" })
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="organization-vat">OIB korisnika</label>
                    <div id="organization-vat">
                        @Html.TextBox("OrganizationVat", ViewBag.CurrentFilter as string, new { @class = "form-control", @placeholder = "OIB korisnika" })
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group" style="margin-bottom:0">
                <input id="Search" type="submit" class="btn btn-primary btn-sm" value="Traži" />
                <input id="btn-reset" type="reset" class="btn btn-warning btn-sm" value="Poništi" />
            </div>
        </div>
    }
}
<br/>
<hr />


@Html.Grid(Model).Named("UgovoriKorisnika").SetLanguage("hr").EmptyText("Nema rezultata").Columns(columns =>
{
    columns.Add(m => m.MerContractNumber).Encoded(false).Sanitized(false).Titled("Broj ugovora");
    columns.Add().Encoded(false).Sanitized(false).RenderValueAs(m =>
    {
        if (m.IsActive)
        {
            return @<div>
        <span class="label label-success">Aktivan</span>
    </div>;
        }
        if (!m.IsActive)
        {
            return @<div>
        <span class="label label-danger">Neaktivan</span>
    </div>;
        }
        return @<div></div>;

    });
columns.Add(m => m.Organization.VAT).Encoded(false).Sanitized(false).Titled("Korisnik").RenderValueAs(x =>
    Html.RouteLink(x.Organization.SubjectName + " (" + x.Organization.VAT + ") ", new { action = "Details", controller = "Organizations", area = "", id = x.Organization.MerId })).Sortable(true);
columns.Add(m => m.StartDate).Encoded(false).Sanitized(false).Titled("Datum početka UO").Sortable(false).RenderValueAs(m =>
{
    return @<div><span>@Html.Raw(m.StartDate.ToShortDateString())</span></div>;
});
columns.Add(m => m.EndDate).Encoded(false).Sanitized(false).Titled("Datum završetka UO").Sortable(false).RenderValueAs(m =>
{
return @<div><span>@Html.Raw(m.EndDate.ToShortDateString())</span></div>;
});
    @*columns.Add().Encoded(false).Sanitized(false).RenderValueAs(m =>
    {
        if (User.IsInRole("Administrator") || User.IsInRole("Superadmin") || (m.CampaignInitiatior == User.Identity.Name))
        {
            return @<div>
    <span>
        <a href="@Url.RouteUrl(new { action = "Details", controller = "Campaigns", area = "Campaigns", id=m.CampaignId, returnUrl = Request.Url })" title="Detalji kampanje"><i class="fa fa-list"></i></a>
        <a href="@Url.RouteUrl(new { action = "Edit", controller = "Campaigns", area = "Campaigns", id=m.CampaignId, returnUrl = Request.Url})" title="Uređivanje kampanje"><i class="fa fa-edit"></i></a>
    </span>
</div>;
        }
        if (User.IsInRole("Administrator") || User.IsInRole("Superadmin"))
        {
            return @<div>
    <span>
        <a href="@Url.RouteUrl(new { action = "Delete", controller = "Campaigns", area = "Campaigns", id=m.CampaignId, returnUrl = Request.Url })" title="Brisanje kampanje"><i class="fa fa-trash"></i></a>
    </span>
</div>;
        }
        return @<span></span>;
    });*@
}).WithPaging(20)

