
@{
    ViewBag.Title = "Administracija sustava";
    Layout = "~/Views/Shared/_UserLayoutNew.cshtml";
}

<!--Modal - Upload File-->
@using (Html.BeginForm("MassUpdateClosedSubjects", "Administration", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="modal fade" id="importTable" tabindex="-1" role="dialog" aria-labelledby="importTable">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content" style="overflow:hidden">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4>Učitavanje podataka</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-12">
                                Molimo odaberite tablicu iz koje želite pročitati podatke.
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-md-12">
                                <label for="file">Učitaj tablicu s podacima:</label>
                                <input type="file" name="file" id="file" /><br><br>
                                <br />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Učitaj</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Prekini</button>
                </div>
            </div>
        </div>
    </div>
}

<h2 style="text-align:center"><strong>Administracija sustava</strong></h2>
<hr />
<h4><i class="fa fa-users"></i> Korisnici</h4>
<div class="row">
    <div class="col-md-3">
        <a href="@Url.Action("Index", "Account")" class="btn btn-default btn-sm">
            Administracija korisnika
        </a>
    </div>
</div>
<hr />
<h4><i class="fa fa-industry"></i> Tvrtke</h4>
<div class="row">
    <div class="col-md-3">
        <a href="@Url.RouteUrl(new { action = "GetOrganizations", controller = "Organizations", area = "", user = string.Empty })" class="btn btn-default btn-sm">
            Kreiranje novih tvrtki iz Moj-eRačun
        </a>
    </div>
    <div class="col-md-3">
        <a href="@Url.RouteUrl(new { action = "UpdateOrganizations", controller = "Organizations", area = "" })" class="btn btn-default btn-sm">
            Ažuriranje tvrtki iz Moj-eRačun
        </a>
    </div>
    <div class="col-md-3">
        <a href="@Url.RouteUrl(new { action = "AddAttribute", controller = "Organizations", area = "" })" class="btn btn-default btn-sm">
            Dodavanje atributa tvrtke
        </a>
    </div>
    <div class="col-md-3">
        <button type="button" title="Učitavanje tablice za grupno ažuriranje tvrtki" class="btn btn-sm btn-default" data-toggle="modal" href="#importTable">
            Grupno ažuriranje zatvorenih tvrtki
        </button>
    </div>
</div>
<hr />
<h4><i class="fa fa-ticket"></i> Dostava</h4>
<div class="row">
    <div class="col-md-3">
        <a class="btn btn-default btn-sm" href="@Url.RouteUrl(new { action = "CreateTicketsFirstTime", controller = "Delivery", area = "HelpDesk" })">Kreiranje kartica za prvi put</a>
    </div>
    <div class="col-md-3">
        <a class="btn btn-default btn-sm" href="@Url.RouteUrl(new { action = "CreateTickets", controller = "Delivery", area = "HelpDesk" })">Kreiranje kartica za preuzimanje</a>
    </div>
</div>
<hr />

